<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8855906832-la65f30852n6pl47e796t4hqppt7nbbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8855906832-la65f30852n6pl47e796t4hqppt7nbbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDsnDDlebHFHQMpkQIKOx0BB7IjJYiPB28</string>
	<key>GCM_SENDER_ID</key>
	<string>8855906832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rpProject</string>
	<key>PROJECT_ID</key>
	<string>rp-project-a86b5</string>
	<key>STORAGE_BUCKET</key>
	<string>rp-project-a86b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8855906832:ios:b4af93e93eb2fa5b1cf895</string>
</dict>
</plist>